body {
    background: linear-gradient(left, #ff0000 0%,#ffff00 16.66666666666667%,#00ff00 33.33%,#00fffe 50%,#0000ff 66.66666666666667%,#fe00ff 83.33333333333333%,#ff0000 100%);
}

#slider-h {
    background: #FFF
}

#slider-s {
    background: #FFF
}

#slider-l {
    background: #FFF
}


#h {}

#s {}

#l {}

input[type="range"] {
    cursor: pointer;
    -webkit-appearance: none !important;
    height: 5px;
    background: rgba(0, 0, 0, .05);
    width: 180px;
    border-radius: 5px;
    position: relative;
    margin: 20px 20px 0 4px;
    outline: none;
}
